<h1>About Vinocal</h1>
<p>Living in the city but want to sample the wine from local vineyards without a car trip? The Vinocal app allows you to do just that. Support local business from the comfort of your living room. Cheers!</p>
