<div class="col-sm">
  <h1><%= link_to product.name, product %></h1>
  <%= image_tag product.image_url %>
  <p><%= product.description %></p>
  <strong>$ <%= product.price %></strong>
</div><!-- /col -->
